body {
    background-color: whitesmoke;
    font-family: "Amatic SC";
}

h1 {
    font-size: 60px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.logo1 {
    width: 150px;
    height: auto;

}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-content-container {
    display: flex;
    justify-content: center;

}

.photo-content {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
    max-width: fit-content;
    gap: 2rem;
    padding-top: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    gap: 20px;
}

.img {
    width: 300px;
    height: 500px;
}

p {
    margin-top: 0px;
    font-size: 30px;
    max-width: 300px;
}

img:hover {
    transform: scale(1.05);
    transition: all ease;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(136, 219, 140);
}