body {
    background-color: whitesmoke;
    font-family: "Amatic SC";
}

h1 {
    font-size: 60px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.logo1 {
    width: 150px;
    height: auto;
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-content-container {
    display: flex;
    justify-content: center;
}

.photo-content {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    align-items: center;
    flex: 1;
}

.img {
    width: 300px;
    height: 500px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

p {
    margin-top: 0px;
    font-size: 35px;
    max-width: 300px;
}